/*//

(c) Joaquim Baeta
  for the Laboratory of Ecology and Conservation, Universitas Gadjah

1......... Root
2......... Base
3......... Elements
  3.1..... Side panel
  3.2..... Jumbotron
  3.2.1... Floating globe
  3.2.2... Lab title
  3.2.3... Jumbotron nav
  3.3..... Buttons
  3.4..... Modal
4......... Page-specific
  4.1..... Events

//*/

/* 1. Root */

  :root {
    --recycled-green: #032b2b;
		--kiss-a-frog: #b8c78a;
		--ferntastic: #75aa5e;
		--autumn-crocodile: #488051;
		--ethereal-woods: #365c4d;
		--emerald-forest: #284041;
		--infinity: #1f2933;
		--dark-teal: #173b40;
		--black-pearl: #1b272c;
		--black-stallion: #152021;
		--jedi-night: #0e211c;
		--evergreen: #175041;
		--viridian-attempt-1: #104c44;
		--viridian-attempt-2: #123938;
    --glass-white: rgba(255, 255, 255, 0.2);
    --glass-white-border: 1px solid rgba(255, 255, 255, 0.1);
    --glass-white-text: rgba(255, 255, 255, 0.7);
  }

/* 2. Base */

body {
	background-color: var(--evergreen);
	/*font-family: 'Gabarito' !important;*/
	/*font-family: 'K2D' !important;*/
	font-family: 'Manjari' !important;
	/*font-family: 'Sarabun' !important;*/
}

/* 3. Elements */

/* 3.1 Side panel  */

.side-panel {
  width: 100vw;
  height: 4.5rem;
  background: var(--glass-white);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 9999;
}

.side-panel .nav-item {
  text-align: right;
  margin-left: 4.5px;
  margin-right: 4.5px;
}

.side-panel .nav-link {
  padding: 0.2rem;
  transition: all 0.35s ease-in-out;
}

.side-panel a, .side-panel .btn-empty {
  color: #fff;
}

.side-panel-text {
  display: none;
}

@media (min-width: 992px) {
  .side-panel {
  	position: fixed;
    overflow: hidden;
    flex-direction: column;
  	right: 0rem;
  	width: 4.5rem;
  	height: 100vh;
    border-left: var(--glass-white-border);
    transition: width 0.35s ease-in-out;
  }

  .side-panel .nav {
    flex-direction: column;
  }

  .side-panel:hover {
    width: 10rem;
  }

  .side-panel-text { 
    display: inline;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: -1.5rem;
    transition: all 0.35s ease-in-out;
  }

  .side-panel:hover .side-panel-text {
    visibility: visible;
    opacity: 1;
    right: 4.5rem;
  }

  .side-panel .nav-link {
    padding: 1rem;
  }

  .side-panel .dropstart {
  	display: flex;
  }

  .side-panel .dropstart .dropdown-menu {
  	align-self: center;
  	right: 4rem;
  }

  .side-panel .dropdown-menu {
  	background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    /*--bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);*/
  }
}

/* 3.2 Jumbotron */

.index-jumbotron {
  display: flex;
  align-items: center;
  height: 100vh;
}

/* 3.2.1 Floating globe */

@keyframes globe {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.floating-globe {
  animation: globe 4s ease infinite, fadeIn 2s; 
  align-self: center;
  width: 83.33333333%;
  height: 80vh;
  position: absolute;
  text-align: center;
}

.floating-globe-2 {
  float: left;
  shape-outside: circle(50%);
  width: 55vw;
  height: auto;
  margin-left: 15vw;
/*  margin-right: 8vw;*/
}

@media (max-width: 1199px) {
  .floating-globe-2 {
    width: 50vw;
  }
}

/* 3.2.2 Lab title */

@keyframes labtitleAnimate {
  from {
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

#lab-title {
  position: absolute;
  text-align: center;
  font-family: "Panton", sans-serif;
  width: 39vw;
  z-index: 9999;
}

#lab-title p {
  font-size: 2em;
  margin: 0;
  color: hsla(0,0%,0%,0);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1;
  transform: rotate(-6.5deg) rotateX(23deg) skewX(5deg);
  text-shadow: 
    #fff 0 0px 1px, 
    #ddd 0 1px 1px, 
    #ccc 0 3px 2px,
    #bbb 0 5px 2px, 
    rgba(0,0,0,0.2) 0 0px 0px, 
    rgba(0,0,0,0.1) 0 5px 0px,
    rgba(0,0,0,0.2) 0 10px 0px;
}

@media (min-width: 992px) {
  #lab-title p {
    font-size: 4rem;
  }
}

p.page-header {
  font-family: "Panton", sans-serif;
  color: hsla(0,0%,0%,0);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1;
  transform: rotate(-2deg) rotateX(30deg) skewX(1deg);
  text-shadow: 
    #fff 0 0px 1px, 
    #ddd 0 1px 1px, 
    #ccc 0 3px 2px,
    #bbb 0 5px 2px, 
    rgba(0,0,0,0.2) 0 0px 0px, 
    rgba(0,0,0,0.1) 0 5px 0px,
    rgba(0,0,0,0.2) 0 10px 0px; 
}

h1.page-title {
  font-family: "Panton", sans-serif;
  color: hsla(0,0%,0%,0);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1;
  transform: rotate(2deg) rotateX(30deg) skewX(1deg);
  text-shadow: 
    #fff 0 0px 1px, 
    #ddd 0 1px 1px, 
    #ccc 0 3px 2px,
    #bbb 0 5px 2px, 
    rgba(0,0,0,0.2) 0 0px 0px, 
    rgba(0,0,0,0.1) 0 5px 0px,
    rgba(0,0,0,0.2) 0 10px 0px;
}

#lab-title .the {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}

#lab-title .laboratory {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.3s;
  animation-fill-mode: backwards;
}

#lab-title .of {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.4s;
  animation-fill-mode: backwards;
}

#lab-title .ecology {
  animation: labtitleAnimate 1s; 
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#lab-title .and {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

#lab-title .conservation {
  animation: labtitleAnimate 1s; 
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
}

#lab-title .construction {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.7s;
  animation-fill-mode: backwards;
  color: #d02c2cd4;
}

/* 3.2.3 Jumbotron nav */

/*.jumbotron-nav {
  
}*/

@media (max-width: ) {

}

ul.jumbotron-nav {
  list-style: none;
  padding-left: 0;
  z-index: 9999;
}

.jumbotron-nav a {
  color: #fff;
  text-decoration: none;
}

@keyframes jumbotronnavAnimate {
  from {
    opacity: 0;
    filter: blur(0.5rem);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.jumbotron-nav li:nth-child(1) {
  margin-left: 0rem;
  animation: jumbotronnavAnimate 1s; 
  animation-delay: 1.6s;
  animation-fill-mode: backwards;
}

.jumbotron-nav li:nth-child(2) {
  margin-left: 1.25rem;
  animation: jumbotronnavAnimate 1s; 
  animation-delay: 1.65s;
  animation-fill-mode: backwards;
}

.jumbotron-nav li:nth-child(3) {
  margin-left: 2rem;
  animation: jumbotronnavAnimate 1s; 
  animation-delay: 1.7s;
  animation-fill-mode: backwards;
}

.jumbotron-nav li:nth-child(4) {
  margin-left: 2.5rem;
  animation: jumbotronnavAnimate 1s; 
  animation-delay: 1.75s;
  animation-fill-mode: backwards;
}

.jumbotron-nav li:nth-child(5) {
  margin-left: 2rem;
  animation: jumbotronnavAnimate 1s; 
  animation-delay: 1.8s;
  animation-fill-mode: backwards;
}

.jumbotron-nav li:nth-child(6) {
  margin-left: 1.25rem;
  animation: jumbotronnavAnimate 1s; 
  animation-delay: 1.85s;
  animation-fill-mode: backwards;
}

.jumbotron-nav li:nth-child(7) {
  margin-left: 0rem;
  animation: jumbotronnavAnimate 1s; 
  animation-delay: 1.9s;
  animation-fill-mode: backwards;
}

/* 3.3 Buttons */

.btn-outline-primary {
  --bs-btn-color: var(--glass-white-text);
  --bs-btn-border-color: var(--glass-white);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--glass-white);
  --bs-btn-hover-border-color: var(--glass-white-border);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--glass-white-border);
  --bs-btn-active-border-color: var(--glass-white);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
}

/* 3.4 Modals */

.modal {
  
  
  --bs-modal-color: ;
  --bs-modal-bg: var(--glass-white);
  --bs-modal-border-color: var(--glass-white-border);
  


  --bs-modal-border-radius: var(--bs-border-radius-lg);
  --bs-modal-box-shadow: var(--bs-box-shadow-sm);
  --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: var(--bs-border-width);
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
}

.modal-content {
  backdrop-filter: blur(10px);
}

/* DELETE AS NECESSARY */

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}


footer h1 {
	font-size: 3rem;
}



/* 4. Page-specific */

/* 4.1 Events */

.event-date {
  background-color: #124236;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-end;
  border-radius: 25px 10px 15px 5px;
}

.event-date h1, .event-date h2 {
  margin-bottom: 0;
  line-height: 1;
  color: var(--ferntastic);
}

/*.event .list-inline {
  color: var(--ferntastic);
}
*/