/*//

The Laboratory of Ecology and Conservation, Universitas Gadjah Mada

(c) Joaquim Baeta
  for the Laboratory of Ecology and Conservation, Universitas Gadjah Mada

1......... Root
2......... Base
3......... Typography
4......... Elements
  4.1..... Side panel
  4.2..... Jumbotron
  4.2.1... Background
  4.2.2... Lab title
  4.2.3... Jumbotron nav
  4.3..... Buttons
  4.4..... Modal
  4.5..... Footer
  4.6..... Cards
  4.7..... Alerts
5......... Page-specific
  5.1..... Content
  5.2..... Events

//*/

/* 1. Root */

  :root {
    --botanical-night: rgba(18, 64, 53, 1);
		--evergreen: rgba(23, 80, 65, 1);
    --rousseau-green: rgba(27, 90, 70, 1);
    --green-paw-paw: rgba(30, 96, 71, 1);
    --precious-emerald: rgba(35, 108, 77, 1);
    --cloudy-camouflage: rgba(38, 113, 76, 1);
    --canadian-pine: rgba(43, 125, 80, 1);
    --bold-irish: rgba(46, 130, 78, 1);
    --shamrock-field: rgba(52, 142, 82, 1);
    --wild-forest: rgba(56, 146, 82, 1);
    --ferntastic: #75aa5e;
    --last-of-lettuce: #a1da5d;
    --kiss-a-frog: #b8c78a;
    --glass-white: rgba(255, 255, 255, 0.15);
    --glass-white-border: 1px solid rgba(255, 255, 255, 0.1);
    --glass-white-text: rgba(255, 255, 255, 0.7);
  }

/* 2. Base */

body {
	background-color: var(--evergreen);
	font-family: 'Manjari' !important;
}

/* 3. Typography */

p a, h4 a {
  color: var(--bs-body-color);
  padding-bottom: 6px;
  background: url('../img/design/wave.svg');
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat-x;
  background-size: 9px 5px; 
  background-position: 2px 19px;
  animation: move 8s linear infinite;
  -webkit-animation: move 14s linear infinite;
  animation-play-state: paused;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration-skip: objects;
}

p a:hover, h4 a:hover {
  background: url('../img/design/wave_hover.svg');
  animation-play-state: running;
  background-repeat: repeat-x;
  background-size: 9px 5px;
}

@keyframes move {
from {
    background-position: 2px 15px;
  }
  to {
    background-position: 500px 15px;
  }
}

h4 a, h4 a:hover {
  background-size: 9px 15px;
}

h2.heading {
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: hsla(0,0%,0%,0);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 
    #fff 0 0px 1px, 
    #ddd 0 1px 1px, 
    #ccc 0 3px 2px,
    #bbb 0 5px 2px, 
    rgba(0,0,0,0.2) 0 0px 0px, 
    rgba(0,0,0,0.1) 0 5px 0px,
    rgba(0,0,0,0.2) 0 10px 0px;
}

.rotate-2deg {
  transform: rotate(2deg) rotateX(30deg) skewX(1deg);
}

.rotate-neg1deg {
  transform: rotate(-1deg) rotateX(30deg) skewX(1deg);
}

/* 4. Elements */

/* 4.1 Side panel  */

.side-panel {
  width: 100vw;
  height: 4.5rem;
  background: var(--glass-white);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 9999;
}

.side-panel .nav-item {
  text-align: right;
  margin-left: 4.5px;
  margin-right: 4.5px;
}

.side-panel .nav-link {
  padding: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.side-panel a, .side-panel .btn-empty, .side-panel a:hover, .side-panel a:active, .side-panel a:visited, .side-panel a:visited:hover {
  color: #fff !important;
}

.side-panel a i {
  transition: all 0.2s ease-in-out;
}

.side-panel a:hover i {
  transition: all 0.2s ease-in-out;
}

.side-panel a:hover i {
  text-shadow: 
    #fff 0px 0 1px,
    #ddd -7px 0 3px,
    #ccc -14px 0 5px,
    #bbb 2px 0 7px,
    rgba(0,0,0,0.5) 0 0 5px;
}

.side-panel-text {
  display: none;
}

@media (min-width: 992px) {
  .side-panel {
  	position: fixed;
    overflow: hidden;
    flex-direction: column;
  	right: 0rem;
  	width: 4.5rem;
  	height: 100vh;
    border-left: var(--glass-white-border);
    transition: width 0.2s ease-in-out;
  }

  .side-panel .nav {
    flex-direction: column;
  }

  .side-panel:hover {
    width: 13rem;
  }

  .side-panel-text { 
    display: inline;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: -1.5rem;
    transition: all 0.35s ease-in-out;
  }

  .side-panel:hover .side-panel-text {
    visibility: visible;
    opacity: 1;
    right: 4.5rem;
  }

  .side-panel .nav-link {
    padding: 1rem;
  }

  .side-panel .dropstart {
  	display: flex;
  }

  .side-panel .dropstart .dropdown-menu {
  	align-self: center;
  	right: 4rem;
  }

  .side-panel .dropdown-menu {
  	background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    /*--bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: var(--bs-body-bg);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);*/
  }
}

/* 4.2 Jumbotron */

/* 4.2.1 Background */

.jumbotron-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* To prevent images from moving outside the container */
}

.jumbotron-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

@media (max-width: 1046px) {
  .jumbotron-image {
    width: auto;
    height: 100%;
  }
}

.sunrise {
  z-index: 1;
/*  animation: sunrise 10s cubic-bezier(0,.69,.87,.92);*/
  animation: sunrise 45s linear;
  filter: opacity(0);
}

@keyframes sunrise {
  0% {
    transform: rotate(-5deg) translate(-100%, 0%);
    filter: opacity(1);
  }
  90% {
    filter: opacity(1);
  }
  100% {
    transform: rotate(45deg) translate(100%, -100%);
    filter: opacity(0);
  }
}

.mountains-2 {
  z-index: 2;
}

.cloud {
  z-index: 3;
  animation: cloud 60s infinite linear;
}

@keyframes cloud {
  0% {
    transform: translateX(125%);
  }

  100% {
    transform: translateX(-150%);
  }
}

.mountains-1 {
  z-index: 5;
}

/* 4.2.2 Lab title */

@keyframes labtitleAnimate {
  from {
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

#lab-title {
  position: relative;
  margin-top: 6rem;
  width: 85vw;
  z-index: 7;
}

#lab-title p {
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 10vw;
  text-transform: uppercase;
  text-align: center;
  color: hsla(0,0%,0%,0);
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 
    #fff 0 0px 1px, 
    #ddd 0 1px 1px, 
    #ccc 0 3px 2px,
    #bbb 0 5px 2px, 
    rgba(0,0,0,0.2) 0 0px 0px, 
    rgba(0,0,0,0.1) 0 5px 0px,
    rgba(0,0,0,0.2) 0 10px 0px;
  margin: 0;
  transform: rotate(-4.5deg) rotateX(24deg) skewX(-11deg);
}

@media (min-width: 768px) {
  #lab-title p {
    font-size: 9vw;
  }
}

@media (min-width: 992px) {
  #lab-title {
    z-index: 4;
  }

  #lab-title p {
    font-size: 4.5rem;
  }
}

p.page-header {
  font-family: "Gabarito", sans-serif;
/*  font-family: "Panton", sans-serif;*/
/*  font-family: "Paytone One", sans-serif;*/
  font-weight: 900;
  color: hsla(0,0%,0%,0);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1;
  transform: rotate(-2deg) rotateX(30deg) skewX(1deg);
  text-shadow: 
    #fff 0 0px 1px, 
    #ddd 0 1px 1px, 
    #ccc 0 3px 2px,
    #bbb 0 5px 2px, 
    rgba(0,0,0,0.2) 0 0px 0px, 
    rgba(0,0,0,0.1) 0 5px 0px,
    rgba(0,0,0,0.2) 0 10px 0px; 
}

h1.page-title {
  font-family: "Gabarito", sans-serif;
/*  font-family: "Panton", sans-serif;*/
/*  font-family: "Paytone One", sans-serif;*/
  font-weight: 900;
  color: hsla(0,0%,0%,0);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1;
  transform: rotate(2deg) rotateX(30deg) skewX(1deg);
  text-shadow: 
    #fff 0 0px 1px, 
    #ddd 0 1px 1px, 
    #ccc 0 3px 2px,
    #bbb 0 5px 2px, 
    rgba(0,0,0,0.2) 0 0px 0px, 
    rgba(0,0,0,0.1) 0 5px 0px,
    rgba(0,0,0,0.2) 0 10px 0px;
}

#lab-title .the {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.2s;
  animation-fill-mode: backwards;
}

#lab-title .laboratory {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.3s;
  animation-fill-mode: backwards;
}

#lab-title .of {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.4s;
  animation-fill-mode: backwards;
}

#lab-title .ecology {
  animation: labtitleAnimate 1s; 
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

#lab-title .and {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.5s;
  animation-fill-mode: backwards;
}

#lab-title .conservation {
  animation: labtitleAnimate 1s; 
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
}

#lab-title .construction {
  animation: labtitleAnimate 1s; 
  animation-delay: 1.7s;
  animation-fill-mode: backwards;
  color: #d02c2cf4;
}

/* 4.2.3 Jumbotron nav */

.jumbotron-nav {
  z-index: 6;
}

@media (max-width: 1028px) {
  .jumbotron-nav {
    flex-direction: column;
  }
}

.jumbotron-nav a {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  line-height: 2;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.jumbotron-nav a:hover, .jumbotron-nav a:active, .jumbotron-nav a:focus, .jumbotron-nav a:visited {
  color: #fff;
}

.jumbotron-nav a i {
  color: #fff;
  transition: text-shadow 0.2s ease-in-out;
}

.jumbotron-nav a:hover i {
  color: #fff;
  text-shadow: 
    #fff 0px 0 1px,
    #ddd -10px 0 3px,
    #ccc -20px 0 5px,
    #bbb 2px 0 7px,
    rgba(0,0,0,0.5) 0 0 5px;
}

@media (max-width: 767px) {
  .jumbotron-nav .nav-item {
    margin-top: -2.25rem;
    margin-bottom: -2.25rem;
  }

  .jumbotron-nav li:nth-child(6) {
    margin-bottom: -1rem;
  }

  .jumbotron-nav .fa-solid {
    display: none;
  }
}

@keyframes jumbotron-nav-animate {
  from {
    opacity: 0;
    filter: blur(0.5rem);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0px);
  }
}

.jumbotron-nav li:nth-child(1) {
  animation: jumbotron-nav-animate 1s; 
  animation-delay: 1s;
  animation-fill-mode: both;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.jumbotron-nav li:nth-child(2) {
  animation: jumbotron-nav-animate 1s; 
  animation-delay: 1.05s;
  animation-fill-mode: both;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.jumbotron-nav li:nth-child(3) {
  animation: jumbotron-nav-animate 1s; 
  animation-delay: 1.1s;
  animation-fill-mode: both;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.jumbotron-nav li:nth-child(4) {
  animation: jumbotron-nav-animate 1s; 
  animation-delay: 1.15s;
  animation-fill-mode: both;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.jumbotron-nav li:nth-child(5) {
  animation: jumbotron-nav-animate 1s; 
  animation-delay: 1.2s;
  animation-fill-mode: both;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.jumbotron-nav li:nth-child(6) {
  animation: jumbotron-nav-animate 1s; 
  animation-delay: 1.25s;
  animation-fill-mode: both;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.jumbotron-nav li:nth-child(7) {
  animation: jumbotron-nav-animate 1s; 
  animation-delay: 1.3s;
  animation-fill-mode: both;
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* 4.3 Buttons */

.btn-outline-primary {
  --bs-btn-color: var(--glass-white-text);
  --bs-btn-border-color: var(--glass-white);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--glass-white);
  --bs-btn-hover-border-color: var(--glass-white-border);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--glass-white-border);
  --bs-btn-active-border-color: var(--glass-white);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
}

/* 4.4 Modals */

.modal {
  --bs-modal-color: ;
  --bs-modal-bg: var(--glass-white);
  --bs-modal-border-color: var(--glass-white-border);
  --bs-modal-border-radius: var(--bs-border-radius-lg);
  --bs-modal-box-shadow: var(--bs-box-shadow-sm);
  --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: var(--bs-border-width);
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
}

.modal-content {
  backdrop-filter: blur(10px);
}

/* 4.5 Footer */

footer {
  background: #124035ff;
}

.footer-logo {
   width: 200px;
}

footer h1 {
	font-size: 3rem;
}

footer h3 {
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: hsla(0,0%,0%,0);
  text-transform: uppercase;
/*  text-align: center;*/
  letter-spacing: 0.03em;
  line-height: 1;
  text-shadow: 
    #2B7D50 0px 0px 1px,
    #236C4D 0px 0px 1px,
    #1E6047 0px 2px 1px,
    #175041 0px 3px 1px;
  transform: rotate(-1.5deg) rotateX(19deg) skewX(-11deg);
  margin-bottom: 1rem;
}

footer p {
  font-size: 0.85rem;
/*  line-height: 1.25;*/
}

footer ul {
  list-style: none;
  font-size: 0.85rem;
  padding-left: 0;
}

footer li a {
  color: var(--bs-body-color);
  text-decoration: none;
}


footer .fa-solid, footer .fa-brands {
  color: #2B7D50;
}

/* 4.6. Cards */

.card {
  --bs-card-border-width: 2px;
  --bs-card-border-color: #2B7D50;
  --bs-card-border-radius: 35px 25px 20px 15px;
  --bs-card-bg: transparent;
}

.card-img-bottom {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 10px;
  z-index: -999;
}

.card h5 {
  font-family: "Gabarito", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: hsla(0,0%,0%,0);
  text-shadow: 
    #dee2e6 0px 0px 1px,
    #236c4dff 0px 0px 1px,
/*    #26714cff 0px 2px 1px,*/
    #236c4dff 0px 3px 1px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1;
  transform: rotate(-1.5deg) rotateX(19deg) skewX(-11deg);
  margin-bottom: 1rem;
}

/* 4.7 Alerts */

.alert-primary {
  --bs-alert-color: var(--kiss-a-frog);
  --bs-alert-bg: var(--botanical-night);
  --bs-alert-border-color: transparent;
  font-size: 1.15rem;
}

.alert-primary span {
  color: var(--cloudy-camouflage);
  background-color: var(--evergreen);  
  width: 50px;
  height: 50px;
}

/* 5. Page-specific */

/* 5.1 Content */

.content h6 {
  color: #B8C78A;
}

.content iframe, .content-thumbnail {
  border-radius: 15px 25px 15px 30px;
}

.metadata-author {
  font-size: 1.25rem;
  text-align: center;
    text-shadow: 
    #fff 0 0px 1px, 
    rgba(0,0,0,0.2) 0 0px 0px, 
    rgba(0,0,0,0.1) 0 1px 0px,
    rgba(0,0,0,0.2) 0 2px 0px
}

/* 5.2 Events */

.event-date {
  background-color: #124236;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-end;
  border-radius: 25px 10px 15px 5px;
}

.event-date h1, .event-date h2 {
  margin-bottom: 0;
  line-height: 1;
  color: var(--ferntastic);
}

/*.event .list-inline {
  color: var(--ferntastic);
}
*/